* {
  margin: 0;
}

body {
  background-color: #dadce2;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__title {
  font-size: 26px !important;
  font-family: 'Times New Roman', Times, serif;
}

.app__dropdown {
  background-color: white;
  border-radius: 6px;
}

.app_header > h1 {
  color: #CC1034;
  font-size: 2rem;
}

.app__left {
  flex: 0.60;
}

.app__right {
  height: 750px;
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
  margin-top: 20px;
}

.app__h {
  margin-top: 20px;
}

.app__status{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.infoBox {
  padding-left: 10px;
}

.app__chart {
  margin-top: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .infoBox, .app__status {
    flex-direction: column;
    margin-bottom: 15px;
  }
}